

@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Jost:ital,wght@0,100..900;1,100..900&family=Momo+Trust+Display&family=Science+Gothic:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 

}

body {
    font-family: "Jost", sans-serif;
    color: white;
    background-color: #1a1a1a;
}



/*NAV BAr//////////////////////////////////////////////////////////////////*/

.top-bar {
 min-height: 100px;
    max-width: 100%;
    padding: 1rem 5%;
   /* background-color: #181726; */
    background-color: rgb(0, 0, 0);
        display: flex;
      list-style: none;
      align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
    z-index: 888;
    
}
.logowrapper {
    
      display: flex;
    align-items: center;
     gap: 0.6rem;
}


.logoimg {
    width: 75px;
    height: 75px;
}

.logo {
       font-size: 2.50rem;
    letter-spacing: 2px;
    font-weight: 640;
    color: #3af07b;
    text-shadow: 0 0 10px #3af07b;
    font-family: "Science Gothic", sans-serif;

}

.btn-black {
    display: flex;          
align-items: center;     
    gap: 10px;               
    font-weight: 300;
 padding: 0.5rem 1.5rem;
      border-radius: 30px; 
font-size: 1.2rem;
    transition: 0.3s;
    background-color: #3af07b;
  border: none;
    cursor: pointer;
    box-shadow: 0 0 15px #3af07b;
}

.btnimg {
    width: 30px;
    height: 30px;
    
}
.user-actions{
    display: flex;
       gap: 30px;
    justify-content: space-between;
}



.search-container {
   border-radius: 20px;
    padding: 0.5rem 1.5rem;
     border: none;
    outline: none;
    height: 50px;
  width: 500px;
    margin-left: 50px;
    font-size: 20px;
    
}

.btn-black:hover {
    background-position: right center; 
    color: #2bdd1e;
    text-decoration: none;
    box-shadow: 0 0 15px rgb(1, 20, 1);
}


/*ABOUT SECTION/////////////////////////////////////////*/
.about {
 display: flex; 
    background-image: url('main.png');
    background-size: cover;
    justify-content: center;  
  gap: 30px;                 
    padding: 3rem; 
    text-align: left;
   min-height: 100%;
    height: 825px;
    background-repeat: no-repeat;
    background-position: center;
    
}


.textabout {
    display: flex;
    flex-direction: column;    
    max-width: 600px;
    margin-right: 800px
        
}

.textabout h2 {
    color:  #00950adc;;
    margin-bottom: 30px;      
    font-size: 10rem;
    
}

.textabout p {
    font-size: 1.8rem;
    color: black;
    padding: 1rem;
}











/*Store Sections////////////////////////////////////////////////////////*/
.store-link {
    font-size: 30px;
    position: relative;
    font-weight: 500px;
    text-decoration: none;
    color: white;
    justify-content: center;
    font-weight: 190;
    cursor: pointer;
    transition: 0.6s;
    font-family: "Source Code Pro", sans-serif;

}
.store-link:hover{
    color: #2bdd1e;
    text-shadow: 0 0 10px rgb(23, 225, 247);
}

.hstores h3 {
    margin: 0 auto;
    text-align: center;     
      padding-top: 40px;
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Source Code Pro", sans-serif;
    color: #2bdd1e;;
}

.stores {
       background-color: rgb(0, 0, 0);
    position: relative;
    align-items: center;
  margin: 50px;
    border-radius: 30px;
   overflow: hidden;
    font-family: "Source Code Pro", sans-serif;

    

}

.store-nav {
    
      min-height: 200px;
    justify-content: space-evenly; 
      align-items: center;
    display: flex;
    
}


.user-actions{
   display: flex;
    gap: 15px;
  justify-content: space-between;
}


/* SORTING BUTTON///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sort-container {
  background-color: #26d31a;     
    margin: 40px;
    margin-left: 50px;
  padding: 15px;
    width: 330px;                 
   display: flex;
      align-items: center;
    gap: 12px;
   border-radius: 12px;
    color: rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(38, 164, 0, 0.53);
}

.sort-container label {
    font-size: 1.1rem;
     font-weight: 700;
     
}


#sort-select {
       padding: 8px 12px;
    font-size: 1rem;
    border-radius: 8px;
    
    background: #000000;
    color: rgb(59, 203, 22);
    outline: 0;
    border: 0;;
}


#sort-direction-btn {

    width: 45px; 
    height: 45px;
      font-size: 22px;
    line-height: 0;              

    display: flex;
    align-items: center ;
    justify-content: center ;

    background: #15f205;
    color: #000;
    border: none;
    border-radius: 10px;

}






         


/*THE ACTUAL DISPLAY SANG MGA GAMES//////////////////////////////////////////////////*/

.grid-container {
    background: #222;
      grid-template-columns: repeat(4, auto);
   display: grid;
      gap: 10px;
    padding: 5rem;
      margin: 4rem;
    border-radius: 30px;
   justify-content: space-between;
      border-width: 4px ;
    border-style:solid;
  border-image: linear-gradient(to bottom right, #2bdd1e, rgb(114, 231, 131))1;
   
}

/* Card container */

.card {
         background: #1b1b1b;
    padding:0px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
 gap: 5px;
    color: white;
    transition: 0.2s ease;
 box-shadow: 0 3px 8px rgba(0,0,0,0.3);
 width: 350px;
 height: 280px;
    margin: 10px 30px;
    position: relative;
}





 .card:hover {
    transform: scale(1.2);  /*MAKES THE GAME POP UP WHEN HOVERED  */
     box-shadow: 0 0px 10px rgba(75, 215, 0, 0.964);

} 


.card-image {
    width: 100%;
    overflow: hidden;
      border-radius: 0;
    display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    flex-shrink: 0; 
}

.card-image img {
    width: 100%;
  max-height: 150px;
  height: auto;
  display: block;
    border-radius: 0;
    object-fit: contain;   
    object-position: center;
}


.card-info {
display: flex;
flex-direction: column;
    gap: 5px;
    height: 100%;
    
}


.card-info h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
      display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
    padding: 10px;
}

.price {
  display: flex;
  align-items: center;
    gap: 8px;
    padding: 10px;
}

.price .original {
    text-decoration: line-through;
    color:white;
 font-size: 16px;
}

.price .sale {
    color: #4CAF50;
    font-size: 17px;
    font-weight: 700;
}



/* GRID NAVAIGATION/////////////////////////////////////////////////////////////////// */
.pagination {
  background-color: #9b7b7b32;  
  margin: 10px auto;
  padding: 30px;
  width: 300px;  
    height: 40px;               
      display: flex;
      align-items: center;
      gap: 12px;
border-radius: 10px;
    color: white;
    justify-content: space-between;
    margin-bottom: 100px;


}

.pagination button {
       height: 30px;
    width: 100px;
    justify-content: center;
       border-radius: 20px;
    box-shadow: 0 0px 10px rgba(1, 4, 0, 0.964);
      display: flex;
    align-items: center;
      background-color: #2bdd1e;
      color: rgb(255, 255, 255);
      cursor: pointer;
font-weight: 500;
}

.pagination button:hover {
    background-position: right center; 
     color: #000000;
    text-decoration: none;
           box-shadow: 0 0 40px rgb(55, 255, 0);
}

/* FOR THE ADD TO WISHLIST BUTTON ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.addwishbtn {
 align-self: flex-end;   
  margin-top: auto;      
  margin-right: 20px;     
    margin-bottom: 30px;
    background-color: #2bdd1e;
    color: black;
transition: 0.3s;
  padding: 5px 20px;
  font-size: 21px;
    font-weight: 400;
       border-radius: 30px;
      border: none;
    outline: none;
    

}

.addwishbtn:hover {
      background-color: #000;
    color: white;
    box-shadow: 0 0 10px black;
}


/* FOOTR///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.footer {
    background-color: rgba(29, 29, 29, 0.884);
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 150px;
    padding: 30px
}

.rights {
    margin-left: 190px;
}
