* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



body {
    background-image: url(regback.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    
   
}



.container {
    margin: 100px;
    padding: 70px ;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.862);
    box-shadow: 0 0 20px black;


    height: 600px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    gap: 30px;
  
    /* justify-content: center; */
    

}

.container h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px 0;
    color: white;


}

.input-box {
    width: 100%;
    height: 75px;
    gap: 20px;
    margin-bottom: 30px;
    /* border-radius: 25px; */
    /* padding: 20px; */
    border-radius: 30px;
    padding: 20px 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.381);
    background-color: #9b7b7b32;;
    color: white;
    font-size: 20px;

}

.reg {
    margin: 10px;
    width: 200px;
    height: 60px;
    display: block;
    margin: 10px auto;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px rgb(17, 209, 17);
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;


}

.reg:hover {
    background-position: right center; 
    color: #2bdd1e;
    text-decoration: none;
    box-shadow: 0 0 15px rgb(0, 255, 0);
    background-color: black;
}





