@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Jost:ital,wght@0,100..900;1,100..900&family=Momo+Trust+Display&family=Science+Gothic:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 

}

body {
    font-family: "Jost", sans-serif;
    color: white;
    background-color: #1a1a1a;

}


.nav {
    background-color: rgb(0, 0, 0);
    
    min-height: 100px;
    max-width: 100%;
    padding: 1rem 5%;
   /* background-color: #181726; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
    z-index: 888;  
    

}

.nav h1 {
    font-weight: 650;
    font-size: 50px;
    color: #2bdd1e;
    text-shadow: 0 0 10px #2bdd1e;;
  
    margin-right: 850px;
    

}

.nav button {
    display: flex;          
    align-items: center;     
    gap: 10px;               
    font-weight: 300;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: 0.3s;
    background-color: #3af07b;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 15px #3af07b;
}

.nav button:hover {
    background-position: right center; 
    color: #2bdd1e;
    text-decoration: none;
    box-shadow: 0 0 15px rgb(0, 255, 0);
    background-color: black;
}


.btnimg {
    width: 40px;
    height: 40px;
}


/* GAME GRID///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





.grid-container {
    background: #222;
    grid-template-columns: repeat(4, auto);
    display: grid;
    gap: 10px;
    padding: 5rem;
    margin: 4rem;
    border-radius: 30px;
    justify-content: space-between;
    border-width: 4px ;
    border-style:solid;
    border-image: linear-gradient(to bottom right, #2bdd1e, rgb(114, 231, 131))1;
   
}

/* Card container */

.card {
    background: #1b1b1b;
    padding:0px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    transition: 0.2s ease;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    width: 350px;
    height: 400px;
    margin: 10px 30px;
    position: relative;
}





 .card:hover {
    transform: scale(1.2);  /*MAKES THE GAME POP UP WHEN HOVERED  */
     box-shadow: 0 0px 10px rgba(75, 215, 0, 0.964);

} 


.card-image {
    width: 100%;
    overflow: hidden;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-shrink: 0; 
}

.card-image img {
    width: 100%;
    max-height: 150px;
    height: auto;
    display: block;
    border-radius: 0;
    object-fit: contain;   
    object-position: center;
}


.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    padding: 20px;
    
}


.card-info h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;

}

.price .original {
    text-decoration: line-through;
    color:white;
    font-size: 14px;
}

.price .sale {
    color: #4CAF50;
    font-size: 15px;
    font-weight: 700;
}


.card button {
    background-color: rgb(43, 255, 0);
    border-radius: 20px;
    margin: 6px 30px;
    padding: 5px 20px;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0 6px rgb(70, 255, 98);
    font-weight: 300;
    transition: 0.6s;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

.card button:hover {
    background-color: #34edf4;
    color: black;
    box-shadow:0 0 15x #34edf4;
     font-family: "Jost", sans-serif;
    font-weight: 400;


}